// Heading Color
$heading-color: #101214;

// Default Background
$bg-default: #38b143;

// White Color
$white-color: #ffffff;

// Dark Color
$dark-color: #141414;

// Hover Color
$hover-color: #38b143;

// Secondary Color
$secondary-color: #838383;