@import 'colors';

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";
@import "~react-datepicker/dist/react-datepicker.css";

// Navbar
.my-navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: $heading-color;
  z-index: 100;
}

// Slider
.my-slider {
  .my-carousel-item {
    height: 750px;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .prev,
  .next {
    width: 95px;
    height: 45px;
    line-height: 39px;
    color: $white-color;
    border: 3px solid $bg-default;
    border-radius: 10px;
    background-color: $dark-color;
    top: 50%;
    margin-top: -28px;
    left: 5%;
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    &:hover,
    &:focus {
      background-color: $dark-color;
      color: $white-color;
    }
  }
  .next {
    left: auto;
    right: 5%;
  }
  &:hover .prev,
  &:hover .next {
    opacity: 1;
    visibility: visible;
  }
}

.my-caption {
  position: absolute;
  right: 15%;
  left: 15%;
  bottom: 35%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  color: $white-color;
  @media (max-width: 800px) {
    bottom: 20%;
  }
}

// Buttons
.my-btn {
  background-color: $heading-color;
  position: relative;
  z-index: 9;
  display: inline-block;
  min-width: 200px;
  height: 45px;
  color: $bg-default;
  border-radius: 10px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  //@include trans-duration(500ms);
  border: 3px solid $hover-color;
  &:hover,
  &:focus {
    font-size: 14px;
    font-weight: 700;
    color: $white-color;
    background-color: $bg-default;
  }
}


.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;
  transition: all .5s ease-in 3s;
}

.scroll-down {
  position: absolute;
  bottom: 10%;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  -webkit-animation: bounce 2s infinite 2s;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  transform: scale(1)
}

.scroll-down:before {
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 6px);
  transform: rotate(-45deg);
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  border: 2px solid white;
  border-width: 0px 0 2px 2px;
}

@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

// Modal

.modalContent {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border: 1px solid rgb(204, 204, 204);
  overflow-x: hidden;
}

@media screen and (min-width: 500px) {
  .modalContent {
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
  }
}

@media screen and (min-width: 800px) {
  .modalContent {
    position: absolute;
    left: 25%;
    right: 25%;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1000;
}

// Close Button


.close {
  position: absolute;
  right: 5%;
  top: 10%;
  cursor: pointer;
  z-index: 1001;
}

// Event
.single-event-table {
  position: relative;
  z-index: 1;
  background-color: $white-color;
  background-repeat: no-repeat;
  .event-table-content {
    .event {
      padding-left: 40px;
      font-size: 28px;
      font-weight: 600;
      color: $hover-color;
      line-height: 1;
      span {
        font-size: 14px;
        font-style: italic;
        color: $secondary-color;
        font-weight: 400;
      }
    }
    h5 {
      padding-left: 40px;
      font-size: 22px;
      margin: 30px 0;
      font-weight: 600;
    }
    .event-data {
      list-style: none;
      li {
        color: $secondary-color;
        font-weight: 400;
        font-size: 14px;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0;
        }
        i {
          color: $hover-color;
          font-size: 8px;
          margin-right: 15px;
        }
      }
    }
  }
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover;
  &::after {
    background-color: rgba(5, 11, 37, 0.85);
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
  }
}



.bg-fixed {
  background-attachment: fixed !important;
}

// Icons
@font-face{
  font-family:'FontAwesome';
  src: url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype');
  font-weight:normal;
  font-style:normal
}

.fa{
  display:inline-block;
  font:normal normal normal 14px/1 FontAwesome;
  font-size:inherit;
  text-rendering:auto;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

.fa-circle:before{
  content:"\f111"
}

// Utilities
.myPointer {
  cursor: pointer;
}

.myTopMargin {
  margin-top: 100px;
}

.myDropdown {
  position: absolute;
  top: 100%;
  left: -150%;
}

.myWidth {
  width: 100%;
  height: auto;
}

.maxWidth-360 {
  max-width: 360px;
}
// Filter

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
  position: absolute !important;
  top: 0px !important;
  left:0px !important;
  right: 0px;
  transform: translate3d(0,0,0) !important;
  z-index: 10 !important;
}

.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}



