{% block subject %}{% endblock %}

{% block body_html %}
    <body>
        <h4>
            Labas {{ recipient.username }} !
        </h4>
    <p>
        Prie tavo event'o prisijungė žmogus. <br/>
        Data: {{ sport_event.date|date('Y-m-d H:i') }} <br/>
        Prisijungė: {{ user.username }} <br/>
        Gali su juo susisiekti {{ user.email }}
    </p>
    Linkejimai, <br/>
    Mapsportas komanda
    </body>
{% endblock %}
