{% block subject %}{% endblock %}

{% block body_html %}
    <body>
    <h4>
        Labas {{ recipient.username }} !
    </h4>
    <p>
        Deja, iš tavo event'o išėjo žmogus. <br/>
        Data: {{ sport_event.date|date('Y-m-d H:i') }} <br/>
        Paliko: {{ user.username }}
    </p>
    Linkejimai, <br/>
    Mapsportas komanda
    </body>
{% endblock %}
